@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cosmo/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
/********************
* admin page
********************/
html{
    scroll-behavior: smooth;
}
/* defaults */
.other-page{
    background-color: rgb(240, 240, 240);
}
.other-page a{
text-decoration: none;
}
.other-page li{
list-style: none;
}
.other-page *{
padding:0;
margin:0 !important;
font-family: "SUSE", sans-serif;
}
.other-page .dt-container, 
.other-page .row, 
.other-page .col-12, 
.other-page .col-11, 
.other-page .col-9, 
.other-page .col-8, 
.other-page .col-7, 
.other-page .col-6, 
.other-page .col-5, 
.other-page .col-4, 
.other-page .col-3, 
.other-page .col-2, 
.other-page .col-1, 
.other-page .card{
padding:0px !important;
}
.other-page #preview img{
    width:100%;
    height: auto;
}
.other-page body{
background-color: rgb(240,240,240);
}

.other-page .bg-primary{
background-color: #83a234ff !important;
}
.other-page .dt-container{
 width: 100% !important;
}
.other-page colgroup{
width:100% !important;
}
.other-page .page-item .page-link,
.other-page .page-item.active .page-link{
background-color: #83a234ff !important;
border-color: #83a234ff !important;
padding:4px 4px !important;
cursor: pointer;
}
.other-page .page-item .page-link{
    background-color: transparent !important;
    border-color: transparent !important;
}
/*vue calendar*/
.other-page .vuecal__flex.weekday-label{
width: 50px !important;
height: 50px !important;
color:#83a234ff;
margin-right: 0px !important;
margin-left:0px !important;
}
.other-page .vuecal:not(.vuecal--day-view) .vuecal__cell--selected {
    background-color: #000; color:#ffffff}
.other-page .vuecal__cell--today, 
.other-page .vuecal__cell--current {
    background-color: #83a234ff !important; color:#ffffff}
.other-page .vuecal__title{
background-color: #ffffff !important;
}
.other-page .dt-length select{
width:50px !important;
padding:5px 10px !important;
background-color: #ffffff !important;
margin-right:5px !important;
margin-left: -9% !important;
}
.other-page .vuecal__title button{
font-weight: bold;
color:#4a6307;
}
.other-page .title-lg img{
margin-left:20px !important;
width: 30% !important;
}
.other-page .vuecal__title-bar{
background-color: #ffffff;
}
.other-page .vuecal__cell{
border:0px !important;
height: 45px; 
width:50px !important;
border-radius: 50%;
}
.other-page .col-12.events-panel{
width:100% !important;
display: flex;
flex-wrap: wrap;
padding-bottom: 20px !important;
}
/*cards*/
.other-page .row.dashboard{
    height: 82vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.other-page .row.dashboard .col-7.row .card.col-3,
.other-page .row.dashboard .col-11.card,
.other-page .row.dashboard .col-4.card,
.other-page .row.dashboard.categories .col-12.row .col-7.card,
.other-page .row.dashboard.categories .col-12.row .col-4.card,
.other-page .row.dashboard .col-12.events-panel .tbl-card-holder .card,
.other-page .row.dashboard .col-12.event-search {
background-color: #ffffff;
border:0px !important;
border-radius: 0px !important;
padding:20px 10px !important;
box-shadow: 0px 0px 10px rgb(230,230,230);
margin-right: 20px !important;
}
.other-page .row.dashboard .col-12.events-panel .tbl-card-holder .card{
margin-right: 20px !important;
box-shadow: 0px 0px 0px rgb(230,230,230) !important;
padding:0px 0px !important;
}
.other-page .row.dashboard .col-12.events-panel .tbl-card-holder .card{
width:100% !important;
}
.other-page .row.dashboard .col-12 .tbl-card-holder .row.col-12 .col-3{
width: 30% !important;
margin-right: 20px !important;
}
.other-page .row.dashboard .col-12.event-search{
display: flex;
flex-wrap: nowrap;
}
.other-page .row.dashboard .col-12.event-search .col-4{
text-align: right;
}
.other-page .row.dashboard .col-12.events-panel .card img{
border-radius:0px !important;
}
.other-page .row.dashboard .col-12.events-panel .card .card-body{
padding:20px 10px !important;
}
.other-page .row.dashboard .col-12.events-panel .col-4.card{
width:30% !important;
}
.other-page .card-body h5{
font-weight: 500;
}
.other-page .card-body h6{
margin-top: 10px !important;
font-size: 16px;
}
.other-page .card-body p{
margin-top: 10px !important;
}
.other-page .card-body button{
width:100%;
margin-top: 20px !important;
}
.card-body p .fa-regular,
.other-page .card-body p .fa-solid{
color:red;
}
/*button*/
.other-page .btn{
padding:5px 10px !important;
}
.other-page .card-btn{
padding: 5px 10px !important;
border:0px;
background-color: transparent;
width:100%;
}
.other-page .tbl-card-holder tr td{
width: 100%;
}
.other-page .card-btn:hover > *{
color:#000 !important;
}
.other-page .btn-primary{
background-color:#83a234ff;
border:0px !important;
}
/* override bootstrap */
.other-page input:hover, 
.other-page a:hover, select:hover, button:hover {
color: inherit !important;
border-color: inherit !important;
box-shadow: none !important;
outline: none !important;
}
.other-page a:hover{
text-decoration: none !important;
}
.other-page input:focus,
.other-page textarea:focus,
.other-page button:focus,
.other-page select:focus,
.other-page .form-control {
outline: none !important;  /* Removes the outline (blue border) */
box-shadow: none !important;  /* Removes the shadow effect */
border:1px solid rgb(230, 230, 230) !important;
}
.other-page input:hover,
.other-page textarea:hover,
.other-page select:hover,
.other-page .form-control{
border:1px solid rgb(230, 230, 230) !important;
}
.other-page input,
.other-page select{
padding: 5px 10px !important;
background-color: transparent!important;
border:1px solid rgb(230, 230, 230) !important;
}
.other-page input:active,
.other-page textarea:active,
.other-page button:active,
.other-page select:active {
outline: none !important;  /* Removes the outline (blue border) */
box-shadow: none !important;  /* Removes the shadow effect */
border-color: inherit !important;  /* Optional: Reset border color */

}
.other-page input:hover{
outline: none !important;
}
.other-page table thead tr th{
padding:6px 5px !important;
color:#83a234ff !important;
}
.other-page table tbody tr td{
padding:6px 5px !important;
}

.other-page .text-primary{
color: #83a234ff !important;
}
.other-page .btn-primary:hover{
background-color: #000 !important;
color:#83a234ff !important;
}
/* end of it */
.other-page .center-page{
width:30%;
margin-left:35% !important;
padding-top: 30vh !important;
text-align: center;
}

.other-page .lg-page .fgt-text{
text-align: left;
margin-top: 10px !important;
}
.other-page .login-panel{
width:25%;
margin-left:37.5% !important;
text-align: center;
margin-top: 30vh !important;
}
.other-page .login-panel .form-control{
margin-bottom: 15px !important;
}
.other-page .db-resp{
margin-top: 5vh !important;
width:30%;
left:68%;
right:1%;
padding:5px 10px !important;
}
.other-page .fa-close{
font-size: 22px;
cursor: pointer;
}
.other-page .response-message {
width:30%;
left:68%;
right:1%;
padding:5px 10px !important;
}
.other-page .footer{
width:100%;
text-align: center;
height: 3vh;
}
/* home page */
.other-page .nav-bar{
height: 100vh;
background-color: white;
box-shadow: 8px 0 5px 0 rgb(240,240,240);
}
.other-page .main-page{
height: 100vh;
display: flex;
flex-wrap: nowrap;
width:98%;
}
.other-page .main-page .side-page{
margin-left:10px !important;
}
.other-page .nav-bar img{
width:50%;
height: auto;
margin-top: 20px !important;
}
.other-page .main-page.row .col-2{
margin: 0px !important;
padding:0px !important;

}
.other-page .nav-bar .col-12:last-child{
margin-top: 40px !important;
}
.other-page .nav-bar .col-12 li{
padding:3px 0px;
margin-left:10% !important;
}
.other-page .nav-bar .col-12 li ul li a{
width:100% !important;
}
.other-page .nav-bar .col-12 li a{
border-right: 3px solid transparent;
}
.other-page .nav-bar .col-12 ul li a{
border-right: 0px !important;
font-size:14px;
}
.other-page .nav-bar .col-12 li a .col-2 {
width:100%;
font-size: 16px;
}
.other-page .nav-bar .col-12 li .col-10{
padding-left:0px !important;
}
.other-page .nav-bar .col-12 li a span{
margin-left: 0px !important;
}
.other-page .text-secondary{
color:rgba(17, 16, 16, 0.499) !important;
}
.other-page .nav-bar .col-12 li a:hover > .col-2,
.other-page .nav-bar .active .col-2{
color:#83a234ff;
}
.other-page .nav-bar .col-12 li a:hover > .col-10,
.other-page .nav-bar .active{
color:#000 !important;
}
.other-page .nav-bar .col-12 li a:hover,
.other-page .nav-bar .active{
border-right: 3px solid #83a234ff !important;
}
.other-page .nav-bar .col-12 li ul li a:Hover{
border-right: 0px !important;
color: #83a234ff !important;
}
.other-page .nav-bar .col-12 li ul li a span{
margin-left: 5px !important;
}
.other-page .top-bar p{
margin-top:3vh !important;
}
.other-page .top-bar h3{
font-size: 25px;
}
.other-page .main-page.row{
margin:0px !important;
}
.other-page .top-bar .col-4{
margin-left: -10px !important;
}
.other-page .bar-panel .form-control{
border:1px solid rgb(230,230,230) !important;
height: 35px;
border-radius: 17.5px;
background-color: transparent;
margin-left:10px !important;
width:84%;
padding: 0px 10px !important;
}
.other-page .bar-panel{
background-color: white;
padding:6px 0px !important;
border-radius: 25px;
margin-top: -18px !important;
}
.other-page .bar-panel .col-4 .fa-solid{
margin-top: 8px !important;
margin-right: 15px !important;
cursor: pointer;
}
.other-page .bar-panel .col-4 .fa-user{
margin-top: 0px !important;
font-size: 20px;
border-radius: 50%;
color:#83a234ff !important;
margin-right: 5px !important;
padding:8px !important;
background-color: rgb(240,240,240);
}
.other-page .bar-panel .col-4{
text-align: right;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: center;
}
#profile-panel{
    display: none;
}
.other-page .row.dashboard .col-4.card{
width:fit-content !important;
}
.other-page .row.dashboard .col-7.row .card.col-3 h4{
font-size: 16px;
}
.other-page .row.dashboard{
margin-top: 30px !important;
}
.other-page .top-20{
margin-top:20px !important;
}
.other-page .nav-bar .col-12 li{
padding:5px 0px !important;
}
.other-page .row.dashboard.centered{
display: flex;
flex-direction: row;
justify-content: center;
}
.other-page .row.dashboard.row.dashboard.categories .col-12 .col-4.card h4{
font-size: 18px;
font-weight: 500;
}
.other-page .ttl{
font-size: 22px !important;
font-weight: 500;
margin-bottom: 20px !important;
}
.other-page .backend-response{
z-index:10;
width: fit-content;
width: 30%;
left:68% !important;
padding:5px 10px !important;
top: 20px !important;
border-radius: 5px;
}
.other-page .visible {
display: flex;
}

.other-page .hidden {
display: none; 
}
.other-page .backend-response .fa-solid{
color:white;
padding:0px 10px !important;
}
.other-page table .form-control{
background-color: transparent !important;
border:1px solid transparent !important;
/* border:1px solid rgb(230,230,230) !important; */
}
.other-page table tr .fa-solid,
.other-page table tr .fas{
margin-right: 10px !important;
cursor: pointer;
}
.other-page .form-group-flex form{
display: flex;
flex-wrap: nowrap;
}
.other-page .form-group-flex .form-group{
width:90%;
}
.other-page .form-group-flex .form-group-icon{
width:15px;
}
.other-page #mark{
display: none;
}
.other-page .editable-input {
border-bottom: 1px solid #83a234ff !important; /* Green border when editable */
}
.other-page .row.dashboard.add-event-modal{
padding:30px 15px !important;
border-radius: 0px;
background-color: #ffffff;
border:none !important;
height: fit-content !important;
}
.other-page .ck-content{
height: 300px !important;
}
.other-page .row.dashboard.add-event-modal .col-12 .col-12.row .form-group{
width:28% !important;
margin:0px 1.2% 20px 1.2% !important;
}
/* editor */
.other-page .ql-toolbar{
background-color:rgb(230,230,230);
}
.other-page .ql-toolbar .ql-formats{
padding:5px !important;}
.other-page .ql-formats .ql-formats{
border-radius: 4px !important;
}
.other-page .ql-container{
height: 250px !important;
padding:5px !important;
}
.other-page .ql-formats svg{
width:16px !important;
}
.other-page .editor-holder .form-group{
width:96%;
margin-left:3.5% !important;
}
/* view page */
.other-page .views .form-group .form-control{
background-color: transparent !important;
}

.other-page .card-container {
display: flex;
flex-wrap: wrap;
width: 100% !important;
}

.other-page .card-wrapper {
flex: 1 1 33%; /* Four cards per row (100% / 4) */
max-width: 33%; /* Restrict to 25% of container width */
padding: 10px;
box-sizing: border-box;
}
.other-page .empty-card {
border: none;
visibility: hidden;
}
.other-page .col-12.col-12.events-panel{
/* overflow-x: hidden; */
padding-bottom: 30px !important;
}
.other-page .row.dashboard.add-event-modal.categories.products .col-6 .form-group,
.other-page .row.dashboard.add-event-modal.categories.products .col-6 .editor-holder{
margin-bottom: 20px !important;
}
.other-page .row.dashboard.add-event-modal.categories.products .col-6 .form-group{
width: 50%;
}
.other-page table .pagination .page-item .page-link{
    border-color:1px red;
    padding:8px 10px !important;
}
.other-page .preview-item img{
max-width: calc(100% - 10px) !important;
margin-left:5px !important;
margin-bottom: 10px !important;
}
.other-page .product-images img{
max-width: 100% !important;
margin-bottom: 10px !important;
}
.other-page .blog-holder.col-5.card{
border:0px !important;
padding:0px 0px !important;
border-radius: 0px !important;
margin-bottom: 20px !important;
}
.other-page .blogs{
margin-top: 30px !important;
}
.other-page .blog-holder{
margin-right: 20px !important;
}
.other-page .blog-holder.col-5.card .row{
padding:10px 0px 0px 0px !important;
}
.other-page .blog-holder.col-5.card .row.highlight{
padding:10px 10px !important;
}
.other-page .blog-holder.col-5.card .row h4{
margin-left:0px !important;
font-size: 20px;
padding:10px 10px !important;
}
.other-page .blog-holder.col-5.card .col-12 h4{
padding:10px 10px !important;
}
#db_response{
    display: none;
}
.other-page .blog-holder.col-5.card .col-12 .btn{
margin-top: 15px !important;
width:100% !important;
}
.other-page .edit-panel{
margin-left:2.5% !important;
}
.other-page .edit-panel .fa-solid{
font-size: 18px;
cursor: pointer;
}
.other-page table .edit-mode{
border-bottom: 1px solid #83a234ff !important;

}
.other-page .fixed-flex{
display: flex;
flex-wrap: nowrap;
width:98%;
}
.other-page .fixed-flex .fa-solid{
margin-top: 10px !important;
margin-right:10px !important;
}
.other-page .fixed-flex input, .other-page select{
/* background-color: transparent !important; */
border:0px;
}
.other-page .fixed-flex input:hover
.other-page .fixed-flex select:hover{
color:#000
}
.other-page .settings-card.card{
padding:15px 15px !important;
border-radius: 0px !important;
border:0px !important;
}
.other-page .settings-card.card .col-5 .content-holder{
width:80%;
}
.other-page .categories.members .col-4 .form-control{
background-color: transparent !important;
border:1px solid rgb(230, 230, 230) !important;
}
.other-page li .fa-close{
font-size: 15px;
margin-left: 10px !important;
cursor: pointer;
}
.other-page .social-links li{
padding:3px !important;
border:1px solid rgb(230, 230, 230);
}
.other-page .social-links li a{
color:#000;
margin-left:5px !important;
cursor: pointer;
}
.other-page .social-links .fa-trash{
padding:0px 0px !important;
margin:0px 0px !important;
}
.other-page .mbr-card{
width:100px !important;
height: 100px !important;
}
.other-page .tbl-p{
margin-top: 10px !important;
}
.other-page .tbl-links .fa-solid,
.other-page .tbl-links .fa-brands{
margin-right: 4px !important;
color:#83a234ff;
}
.other-page .member-list .speaker{
width: fit-content;
padding: 2px 5px !important;
background-color: rgb(230, 230, 230);
border-radius: 3px;
border:1px solid rgb(220, 220, 220);
margin-left: 4px !important;
display: flex;
flex-wrap: nowrap;
}
.other-page .member-list{
margin-left:1.8% !important;
}
.other-page .member-list .fa-close{
font-size: 17px;
margin-top: 3px !important;
}
.other-page .member-list .speaker .speaker-name{
margin-right: 5px !important;
}
.other-page .content-holder{
margin-bottom: 20px !important;
}
.other-page table tr td input.form-control,
.other-page table tr td select.form-control{
border:1px solid transparent;
}
.other-page table .orders-table tr td .fa-solid,
.other-page table .orders-table tr td .fa-trash,
.other-page table .orders-table tr td .fas{
font-size: 14px !important;
padding:5px 5px !important;
border-radius: 2px;
color: #ffffff !important;
margin-right: 3px !important;
}
.other-page table .orders-table tr td .fas,
.other-page table .orders-table tr td .fa-user-plus{
    color:red !important;
    background-color: #000;
    padding:5px 8px !important;
}
.other-page table .orders-table tr td .fa-truck{
background-color: #000;
}
.other-page table .orders-table tr td .fa-edit{
background-color: rgb(0,130,189);
}
.other-page table .orders-table tr td .fa-check{
background-color: #83a234ff;
}
.other-page .orders-table tr td .fa-eye{
background-color:rgb(0,130,189);
}
.other-page .orders-table tr td .fa-paper-plane{
background-color: #83a234ff;
}
.other-page .orders-table tr td .fa-trash{
background-color: red;
}
.other-page  tr td .fa-toggle-on,
.other-page table tr td .fa-toggle-off{
font-size: 18px;
}
.other-page .col-6.card.profile-card{
padding:10px 10px !important;
border-radius: 0px !important;
border:0px !important
}
.other-page .bar-panel .col-4 .position-absolute{
width:100%;
background-color: #ffffff;
padding:10px !important;
top:40px !important;
text-align: left !important;
z-index: 50;
}
.other-page .bar-panel .col-4 .position-absolute li.text-secondary:hover{
color:#000 !important;
}
.other-page .bar-panel .col-4 .position-absolute .fa-user,
.other-page .bar-panel .col-4 .position-absolute .fa-gear,
.other-page .bar-panel .col-4 .position-absolute .fa-right-from-bracket{
padding:0px !important;
font-size: 16px !important;
}
.other-page .bar-panel .col-4 .position-absolute .fa-solid{
color:#4a6307;
}




/************
* end of admin page
***************/

.home-route *{
margin:0 !important;
padding:0;
font-family: "Poppins", sans-serif;;
}

.home-route .nav-bar.small-nav.row .col-8.four-vh{
width: 100% !important;
padding:10px !important;
}
.home-route .small-nav .navigation-icon{
text-align: left;
height: 40px !important;
}
.home-route .small-nav{
position: absolute;
top:0px !important;
width: 100% !important;
z-index: 100;
display: none !important;
border-bottom: 0px !important;
}
.home-route .small-nav .navigation{
display: block;
height: calc(100vh - 40px)
}
.home-route .small-nav .navigation a{
padding:0px !important;
margin:0px !important;
margin-bottom: 10px !important;
width: fit-content;
}
.home-route .small-nav .navigation button{
background-color: #000 !important;
border:0px !important;
color:#83a234ff;
padding:5px 10px !important;
cursor: pointer;
height: 36px;
float: left;
}
.other-page .col-12.events-panel.settings .col-4.card{
    max-height: 78vh;
    padding-bottom:10px !important;
    overflow-y: scroll !important;
}
.home-route .small-nav .col-8.four-vh .fa-solid{
color:#ffffff;
font-size: 20px;
cursor: pointer;
}
.home-route .small-nav .col-8.four-vh{
margin-top: 0px !important;
}
.home-route .nav-bar.small-nav.row .col-8.four-vh .navigation a{
display: block !important;
}
.home-route .default-navbar{
display: block;
}
.home-route .dt-container, 
.home-route .row, 
.home-route .col-12, 
.home-route .col-11, 
.home-route .col-9, 
.home-route .col-8, 
.home-route .col-7, 
.home-route .col-6, 
.home-route .col-5, 
.home-route .col-4, 
.home-route .col-3, 
.home-route .col-2, 
.home-route .col-1, 
.home-route .card{
padding:0px !important;
}
.home-route input:focus, 
.home-route textarea:focus, 
.home-route select:focus {
outline: none !important;
box-shadow: none !important;
}
.home-route textarea{
padding:10px 10px !important;
}
.home-route .inner-join .col-6 .card .form-group textarea.form-control{
height: 100px !important;
}
.home-route input{
height: 30px;
padding:5px 10px !important;
}
.home-route .vuecal__flex.weekday-label{
width: 50px !important;
height: 50px !important;
color:#83a234ff;
margin-right: 0px !important;
margin-left:0px !important;
}
.home-route .page-link{
background-color: transparent !important;

}
.home-route .dt-paging-button.page-item.active{
background-color: #83a234ff !important;
color:#ffffff;
border-color:#83a234ff !important;
}
.home-route .vuecal__arrow{
margin: 0px 5px !important;
}
.home-route .vuecal:not(.vuecal--day-view) .vuecal__cell--selected {
    background-color: #000; color:#ffffff
}
.vuecal__cell--today, 
.home-route .vuecal__cell--current {
    background-color: #83a234ff !important; color:#ffffff
}
.home-route .vuecal__title{
background-color: #ffffff !important;
}
.home-route .vuecal__title-bar,
.home-route .vuecal__flex.vuecal__title{
background-color: transparent !important;
}
.home-route .vuecal__title button{
font-weight: bold;
color:#4a6307;
}
.home-route .bg-gradient{
background-image:linear-gradient(to bottom left, #83a234ff, #4a6307) !important;
}
.home-route .vuecal__title-bar{
background-color: #ffffff;
}
.home-route .vuecal__cell{
border:0px !important;
height: 45px; 
width:50px !important;
border-radius: 50%;
}
.home-route a{
text-decoration: none !important;
}
.home-route .bg-primary, 
.home-route .btn-primary{
background-color:#88a92dff !important;
color:#ffffff;
}
.home-route .text-primary{
color:#88a92dff !important;
}
.home-route .text-third{
color: #4a6307;
}
.home-route .btn-primary, 
.home-route .btn-secondary{
border-radius: 17px;
background-size: 0% !important;
background-size: 200% 100% !important;
background-image: linear-gradient(to right, #88a92dff 50%, #4a6307 50%) !important;
transition: background-position 0.4s ease !important;
}
.home-route .btn-primary:hover{
background-position: -100% 0 !important;
}
.home-route .btn{
padding:5px 10px !important;
border:0px !important;
}
.home-route .btn-2{
padding:8px 12px !important;
border:1px solid #ffffff !important;
background-color: transparent;
}
.home-route .btn-secondary{
border-radius: 20px !important;
color:#ffffff;
background-color: transparent !important;
background-image: linear-gradient(to right, transparent 50%, #ffffff 50%) !important;
}
.home-route .btn-secondary:hover{
background-position: -100% 0 !important;
color:#4a6307;
}
.home-route .w-100{
width:100% !important;
}
.home-route .wrapper{
width:100%;
height: fit-content;
}
.home-route .main-bg{
height: 80vh;
}
.home-route .main-bg img{
height: 100%;
width: 100%;
}
.home-route .home-hero{
height: 80vh;
background-image: url(../images/bg/events.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.home-route .four-vh{
margin-top: 4vh !important;
}
.home-route .seven-vh{
margin-top:7vh !important;
}
.home-route .hero-84, 
.home-route .hero-90{
width:84%;
margin-left:8% !important;
height: fit-content;
}
.home-route .hero-90{
width:96%;
margin-left:2% !important;
}
.home-route .nav-bar{
width: 100 !important;
display: flex;
padding:20px 0px 50px 0px !important;
border-bottom: 2px solid #cecbcb;
}
.home-route .nav-bar .col-8{
text-align: right !important;
position: relative;
}
.home-route .r-px-10{
margin-right: 10px !important;
}
.home-route .l-px-10{
margin-left:10px !important;
}
.home-route .r-px-20{
margin-right: 20px !important;
}
.home-route .l-px-20{
margin-left:20px !important;
}
.home-route .font-16{
font-size: 16px;
}
.home-route .nav-bar .col-8 a{
position: relative;
}
.home-route .nav-bar .col-8 a::after{
content: '';
position: absolute;
bottom: -.4em;
left: 50%;
right: 50%;
height: 1px;
background: #ffffff;
transition: all ease .2s;
}
.home-route .nav-bar .col-8 a:hover::after{
left: 0;
right: 0;
height: 2px;
}
.home-route .nav-bar .col-8 a::before{
position: absolute;
transform: translateX(-100%);
left: -10px;
color: #ffffff;
opacity: .3;
}
.home-route .active{
color:#000 !important;
font-weight: 600;
}
.home-route .home-page{
z-index: 5;
position: absolute;
width:84% !important;
}
.home-route .home-page h2, 
.home-route .home-page h4, 
.home-route .home-page h3{
font-size: 52px;
font-weight: bold;
}
.home-route .home-about.row .col-6{
position:relative;
}
.home-route .home-about.row .col-6:last-child{
background-image: url(../images/bg/pathway.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.home-route .home-about.row .col-6 .bg, 
.home-route .home-about.row .col-6 .front{
position: absolute;
width: 100%;
height: 500px;;
z-index: 2;
}
.home-route .home-about.row .col-6 .bg img{
width: 100%;
height: 500px;;
}
.home-route .home-about.row .col-6:first-child{
background-color: #83a234ff;
height: 500px;;
}
.home-route .w-80{
width: 80% !important;
margin-left:16% !important;
}
.home-route .w-r-80{
width: 80% !important;
margin-left: 4% !important;
}
.home-route .home-about.row .col-6 h4{
text-transform: uppercase;
font-size: 28px;
margin-top: 30px !important;
margin-bottom: 20px !important;
}
.home-route .home-about.row .col-6:last-child h4{
font-size: 22px;
margin-top: 15px !important;
margin-bottom: 15px !important;
}
.home-route .home-about.row .col-6 .front{
z-index: 3;
height: fit-content;
}
.home-route .programs .row{
margin-top: 60px !important;
}
.home-route .programs .row .card{
width:calc(25% - 5px);
margin-right: 5px !important;
border:0px !important;
padding-bottom: 20px !important;
}
.home-route .card .text-center .fa-solid{
margin-top: -30px !important;
margin-left:-30px !important;
color:#83a234ff;
position: absolute;
z-index: 4;
font-size: 30px;
padding:10px !important;
border:4px solid #83a234ff;
background-color: #ffffff;
border-radius: 50%;
}
.home-route .card .text-center{
border-top:4px solid #83a234ff;
position: relative;
}
.home-route .programs .card .card-body{
margin-top: 40px !important;
}
.home-route .programs .card .card-body .card-text{
margin-top: 10px !important;
}
.home-route .programs .row .card:hover > .text-center{
border-top: 4px solid #4a6307;
}
.home-route .programs .row .card:hover > .text-center .fa-solid{
border:4px solid #4a6307;
color:#4a6307;
}
.home-route .programs .row .card:hover > .card-body .text-primary{
color:#4a6307 !important;
}
.home-route .home-events .col-8.row .card{
width:46%;
margin-left:2% !important;
background-color: #ffffff;
border:1px solid rgb(240,240,240);
height: fit-content;
padding-bottom: 20px !important;
margin-bottom: 30px !important;
transition: 0.3s ease-in-out;
}
.home-route .home-events .col-8.row .card > *{
margin-left:10px !important;
margin-right: 10px !important;
}
.home-route .home-events .col-8.row .card .text-third{
font-weight: bold;
margin-top: 10px !important;
}
.home-route .home-events .col-8.row .card h3{
font-size: 22px;
margin-top: 15px !important;
}
.home-route .home-events .col-8.row .card .card-text:last-child{
margin-top:15px !important;
}
.home-route .home-events .col-8.row .card .fa-solid{
color:red;
}
.home-route .home-events .col-4{
margin-top: 50px !important;
}
.home-route .home-events .col-8.row .card:hover{
border:1px solid rgb(200,200,200);
}
.home-route .events-container{
position: relative;
height: 50vh;
margin-top: 100px !important;
background-image: url(../images/bg/praying.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
width: 100% !important;
}
.home-route .event-bg{
background-color: #000;
position:absolute;
z-index: 1;
width:100%;
height: 50vh;
opacity: .3;
}
.home-route .home-events{
position: absolute;
z-index: 5;
background-color: rgb(240,240,240);
padding:20px !important;
top:5vh !important;
border-radius: 10px;
}
.home-route .footer{
background-color: #000;
padding:50px 0px !important;
}
.home-route .footer .fa-brands{
font-size: 17px !important;
color:#cecbcb;
margin-right: 8px !important;
margin-top: 10px !important;
cursor: pointer;
transition: 0.4s ease-in-out;
}
.home-route .footer .fa-brands:hover{
color:#83a234ff;
}
.home-route .footer .text-third{
color:#83a234ff;
}
.home-route .footer .form-control{
background-color: #cecbcb;
}
.home-route .footer .col-6 a{
color:#cecbcb !important;
}
.home-route .footer .form-group{
width:90%;
}
.home-route .footer .form-group.flexed{
display: flex;
flex-wrap: nowrap;
}
.home-route .home-events .row .col-6 .btn-primary,
.home-route .footer .col-6 .form-group .btn-primary
.home-route .btn-primary-box{
padding:10px !important;
width:350px;
border-radius: 5px !important;
margin-top: 20px !important;
}
.home-route .btn-primary-box{
width:fit-content;
padding:5px 10px !important;
border-radius: 5px;
background-color: #83a234ff;
}
.home-route .inner-join .col-6 .card .form-group .btn-primary-box{
width:100% !important;
color:#ffffff;
padding:15px 5px !important;
transition: 0.3s ease-in-out;
}
.home-route .inner-join .col-6 .card:last-child .form-group .btn-primary-box.bg-black{
background-color: #000 !important;
}
.home-route .inner-join .col-6 .card .form-group .btn-primary-box:hover{
background-color: #4a6307;
}
.home-route .footer .col-6 .form-group .btn-primary{
width:fit-content;
margin-top: 0px !important;
padding:5px 10px !important;
border-radius: 0px !important;
}
.home-route .footer .col-6 .form-group .form-control,
.home-route .inner-join .col-6 .card .form-group .form-control{
height: 40px !important;
border:0px !important;
border-radius: 0px !important;
}
.home-route .home-gallery{
margin-top: 70vh !important;
}
.home-route .footer .col-6:first-child .text-third{
margin-bottom: 15px !important;
}
/* .carousel-image img{
width: 100%;
height: auto;
} */
.home-route .fifteen-vh{
margin-top:15vh !important;
}
.home-route .ttl{
text-align: center;
/* background-image: url(../images/bg/g8-pattern.png);
background-size: cover;
background-repeat: no-repeat; */
}
.home-route .ttl .fa-regular{
font-size: 32px;
color:#ffffff;
padding:15px !important;
border-radius: 50%;
background-color:#83a234ff;
}
.home-route .pin-point{
padding:5px 20px 5px 20px !important;
background-color: #83a234ff;
color:#ffffff;
width: fit-contentt;
}
.home-route .leaflet-popup-tip{
background-color: #83a234ff;
}
.home-route .leaflet-popup-close-button span{
color:red;
padding-left: 10px !important;

}
.home-route .map-holder{
position: relative;
width:100%;
height: 500px;
margin-bottom: 100px !important;
}
.home-route #map {
height: 500px;
width: 100%;
position: absolute;
z-index: 2;
}
.home-route .reach-out{
position:absolute;
z-index: 3;
width: fit-content;
left:5% !important;
background-color: #000;
border:0px;
top: 120px !important;
padding:15px 15px 30px 15px !important;
}
.home-route .reach-out.card > *{
margin-top: 10px !important;
}
.home-route .reach-out.card button{
padding:10px !important;
width: fit-content;
border-radius: 24px;
}
.home-route .reach-out.card button .fa-solid{
transition: 0.4s ease-in-out;
}
.home-route .reach-out.card button:hover > .fa-solid{
margin-left: 5px !important;
}
.home-route .form-group{
margin-top: 20px !important;
}
.home-route .quick-links{
text-align: center;
}
.home-route .quick-links span a{
color:#4a6307 !important;
transition: 0.3s ease-in-out;
}
.home-route .quick-links h4{
margin-bottom: 20px !important;
}
.home-route .quick-links span{
margin-top: 15px;
}
.home-route .quick-links span a:hover{
color:#ffffff !important;
}
.home-route .col-4 .icons{
display: flex !important;
margin-top: 20px !important;
flex-wrap: nowrap !important;
}
.home-route .col-4 .icons .fa-brands{
font-size: 18px;
background-color: #000;
padding:10px 12px !important;
border-radius: 50%;
color:#83a234ff;
margin-right: 10px !important;
cursor: pointer;
transition: 0.4s ease-in-out;
}
.home-route .col-4 .icons .fa-facebook-f{
padding:10px 14px !important;
}
.home-route .col-4 .icons .fa-brands:hover{
background-color: #83a234ff;
color:#000;
}
.home-route .bottom-banner{
width:100%;
text-align: center;
background-color:#4a6307;
padding:7px 15px !important;
color:#ffffff;
}
.home-route .wrapper.about .nav-bar-wrapper{
background-image: url(../images/bg/praying.jpg);
background-size: cover;
background-attachment: fixed;
}
.home-route .wrapper.about .nav-bar-wrapper .hero-84{
position: relative;
z-index: 3;
}
.home-route .wrapper.about .nav-bar-wrapper{
position: relative;
}
.home-route .wrapper.about .nav-bar-wrapper .hero-84 .nav-bar{
border-bottom: 0px; 
height: 18vh;
}
.home-route .wrapper.about .nav-bar-wrapper .cover{
width: 100%;
height:18vh;
background-color: #83a234ff;
opacity: 0.3;
z-index: 1;
position: absolute;
}
.home-route .centered-div{
text-align: center;
}
.home-route .values{
justify-content: center;
}
.home-route .values .value{
width: 150px;
height: 150px;
border-radius: 50%;
border-top-right-radius: 0px !important;
display: flex;
justify-content: center;
margin-right: 3% !important;
margin-bottom: 20px !important;
}
.home-route .inner-value{
display: flex;
flex-direction: column;
justify-content: center;
}
.home-route .inner-value .fa-solid{
font-size: 40px;
text-align: center;
}
.home-route .main-about{
width:92%;
margin-left:8% !important;
}
.home-route .ten-vh{
margin-top:10vh !important;
}
.home-route .main-about .col-5 h4{
font-size: 20px;
}
.main-about .col-7.bg-black,
.main-about.about-2 .col-6.bg-black{
height: 50vh;
}
.main-about.about-2 .col-6.bg-black{
height: 70vh !important;
}
.main-about.about-2{
height: 70vh !important;
}
.five-vh{
margin-top: 5vh !important;
}
.about-bg{
z-index: 2;
background-image: url(../images//bg/grow.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.main-about.about-2 .about-bg{
background-image: url(../images/bg/plan.jpg) !important;
height: 70vh !important;
}
.about-cover{
background-color: #000;
opacity: 0.8;
z-index: 3;
}
.main-about.about-2 .about-cover{
height: 70vh !important;
}
.main-about .col-7 .bg-front,
.about-2 .col-6 .bg-front{
z-index: 4;
padding:40px !important;
}
.two-vh{
margin-top: 2vh !important;
}
.col-12.row.core-values{
display: flex !important;
flex-direction: row !important;
justify-content: center !important;
}
#myBtn {
display: none;
position: fixed !important;
bottom: 20px !important;
right: 30px !important;
z-index: 99;
font-size: 18px;
border: none;
color:#83a234ff;
outline: none;
background-color: #000;
cursor: pointer;
padding: 15px !important;
border-radius: 4px;
transition: 0.3s ease-in-out;
}

#myBtn:hover {
background-color: #83a234ff;
color:#000;
}
.core-values .col-4.card{
border:1px solid rgb(230, 230, 230);
width:30%;
margin-left:1.5% !important;
padding:20px !important;
text-align: center;
}
.core-values .col-4.card .fa-solid{
font-size: 26px;
border:3px solid #83a234ff;
padding:10px !important;
color:#83a234ff;
border-radius: 50%;
}
.icon-holder{
text-align: center;
}
.join-bg{
height: 90vh;
background-image: url(../images/bg/image1.png);
background-size: cover;
background-repeat: no-repeat;
}
.inner-join{
left:-25% !important;
margin-top: 10vh !important;
}
.inner-join .col-6 .card{
padding:15px !important;
width: 95%;
margin-left:5% !important;
border:0px;
box-shadow: 0px 0px 10px rgb(230,230,230);
}
.inner-join .col-6 .card h4{
font-size: 22px;
}
.inner-join .col-6 .card p{
margin-top: 10px !important;
}
.home-route .inner-join .col-6 .card .form-group{
margin-top: 15px !important;
margin-bottom: 15px !important;
}
.home-route .members{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}
.home-route .members .col-3{
width:300px;
}
.home-route .member-inner{
padding:30px 10px !important;
width:90%;
margin-left:5% !important;
display: flex;
flex-direction: column;
justify-content: center;
box-shadow: 0px 0px 10px rgb(230, 230, 230);
}
.home-route .member-inner img{
width: 150px;
height: 150px;
border-radius: 50%;
margin-left:30px !important;
}
.home-route .member-inner .col-12{
display: flex;
}
.home-route .member-inner .col-12 .fa-brands,
.home-route .member-inner .col-12 .fa-solid{
font-size: 16px;
color:#83a234ff;
margin-right: 5px !important;
cursor: pointer;
}
.home-route .events.hero-90 .search-panel{
display: flex;
flex-direction: row;
justify-content: center;
padding: 20px !important;
}
.home-route .events.hero-90 .search-panel .form-group .form-control,
.home-route .events.hero-90 .search-panel .form-group .form-control{
padding:8px 10px !important;
border:1px solid rgb(240,240,240);
margin-top:0px !important;
height: 40px;
}
.home-route .events.hero-90 .search-panel .form-group{
width: 96%;
margin-top: 0px !important;
}
.home-route .events.hero-90 .search-panel .form-group .btn-primary-box{
width: 100%;
height: 40px;
}
.home-route .events.hero-90 .row.event-panel{
display: flex;
flex-direction: row;
justify-content: center;
}
.home-route .events.hero-90 .row.event-panel .col-3{
margin-bottom: 20px !important;
}
.home-route .events.hero-90 .row.event-panel .col-3 .card{
width:94%;
margin-left:2% !important;
}
.home-route .events.hero-90 .row.event-panel .col-3 .card{
border:1px solid rgb(230, 230, 230);
height: fit-content !important;
transition: 0.3s ease-in-out;
}
.home-route .events.hero-90 .row.event-panel .col-3 .card:hover{
box-shadow: 0px 0px 15px rgb(200, 200, 200);
}
.home-route .events.hero-90 .row.event-panel .col-3 .card .card-body{
background-color: #ffffff;
height: fit-content;
}
.home-route .events.hero-90 .row.event-panel .col-3 .card .card-body .card-body-inner{
z-index: 4;
height: fit-content;
background-color: #ffffff;
width: 100%;
border-radius: 5px;
padding:5px 5px !important;
}
.home-route .events.hero-90 .row.event-panel .col-3 .card img{
height: fit-content;
}
.home-route .events.hero-90 .row.event-panel .col-3 .card .card-body .card-body-inner h3{
font-size: 18px;
padding-bottom: 5px !important;
border-bottom: 1px solid rgb(230, 230, 230);
}

.home-route .events.hero-90 .row.event-panel .col-3 .card .card-body .card-body-inner p .fa-regular,
.home-route .events.hero-90 .row.event-panel .col-3 .card .card-body .card-body-inner p .fa-solid,
.home-route .view-event .col-4 .card.col-12 p .fa-solid,
.home-route .view-event .col-4 .card.col-12 p .fa-regular{
color:red;
}
.home-route .events.hero-90 .row.event-panel .col-3 .card .card-body .card-body-inner .btn-primary-box{
width:100%;
color:#ffffff;
}
.home-route .view-event .col-8 .col-11 img{
border-radius: 10px;
}
.home-route .view-event .col-8 .col-11 .col-12 .card{
width: 200px;
height: fit-content;
padding:20px 10px !important;
text-align: center;
border:1px solid rgb(230,230,230);
margin-right:10px !important;
transition: 0.3s ease-in-out;
}
.home-route .view-event .col-8 .col-11 .col-12 .card img{
width: 70%;
margin-left:15% !important;
border-radius: 50%;
}
.home-route .view-event .col-8 .col-11 .col-12 .card h4{
font-size: 18px;
}
.home-route .view-event .col-8 .col-11 .col-12{
display: flex;
}
.home-route .view-event .col-8 .col-11 .col-12 .card:hover{
background-color: rgb(240,240,240);
}
.home-route .view-event .col-4 .card.col-12 > *{
width:95%;
margin-left:5% !important;
}
.home-route .view-event .col-4 .card.col-12 p .fa-regular{
margin-top: 7px !important;
}
.home-route .view-event .col-4 .card.col-12 .inner-card{
width:90%;
margin-top: 30px !important;
}
.home-route .view-event .col-4 .card.col-12 .inner-card img{
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}
.home-route .view-event .col-4 .card.col-12 .inner-card .organizer{
background-color: #83a234ff;
text-align: center;
}
.home-route .view-event .col-4 .card.col-12 .inner-card .organizer h3{
padding:10px !important;
font-size: 18px;
}
.home-route .view-event .col-4 .card.col-12 .inner-card .organizer-details{
background-color: #000;
margin-top: 0px !important;
padding:10px 0px 20px 0px !important;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}
.home-route .view-event .col-4 .card.col-12 .inner-card .organizer-details > *{
width:96%;
margin-left:2% !important;
}
.home-route .view-event .col-4 .card.col-12 .inner-card .organizer-details p{
font-size: 14px;
margin-top: 10px !important;
}
.home-route .view-event .col-4 .card.col-12 .btn-primary-box{
width:90% !important;
margin-top: 20px !important;
}
.home-route .view-event .col-4 .card.col-12{
padding-bottom: 30px !important;
}
.home-route .contact.hero-84 .col-5{
margin-left: 10px !important;
}
.home-route .contact.hero-84 .col-5 .card,
.home-route .contact.hero-84 .col-7 .card{
width:96%;
margin-left:2%;
padding-bottom: 20px !important;
border-radius: 0px !important;
}
.home-route .contact.hero-84 .col-5 .card > *,
.home-route .contact.hero-84 .col-7 .card > *{
margin-left: 2% !important;
}
.home-route .contact.hero-84 .col-5 .form-group,
.home-route .contact.hero-84 .col-7 .card .form-group{
width:96% !important;
}
.home-route .contact.hero-84 .col-5 .form-group .form-control,
.home-route .contact.hero-84 .col-7 .form-group .form-control{
border:0px !important;
background-color: rgb(245, 245, 245);
padding:8px 15px !important;
height: 45px;
}
.home-route .contact.hero-84 .col-5 .form-group textarea,
.home-route .contact.hero-84 .col-7 .form-control textarea{
height: 150px !important;
}
.home-route .contact.hero-84 .contact-statement{
display: flex;
flex-direction: row;
justify-content: center;
}
.home-route .contact.hero-84 .inner-contact-statement{
display: flex;
flex-direction: column;
justify-content: center;
}
.home-route .contact.hero-84 .inner-contact-statement h3{
font-size: 42px;
}
.home-route .contact-map .map-holder .reach-out{
display: none;
}
.home-route .contact.hero-84 .inner-contact-statement .col-12{
display: flex;
}
.home-route .contact.hero-84 .inner-contact-statement .col-12 .fa-brands{
margin-right: 8px !important;
font-size: 16px;
padding:7px !important;
background-color: #83a234ff;
color:#000;
border-radius: 3px;
}
.home-route .view-event.blogs .col-8.row .col-11.card{
border:1px solid transparent;
}
.home-route .view-event.blogs .col-8.row .col-11.card img{
border-radius: 0px !important;
}
.home-route .view-event.blogs .col-8.row .col-11.card .banner-img{
border-radius: 4px !important;
}

.home-route .view-event.blogs .col-8 .col-11 .blog-detail{
display: flex;
}
.home-route .view-event.blogs .col-8 .col-11 .blog-detail .icon{
border-right: 2px solid rgb(200, 200, 200) !important;
padding: 0px 10px 0px 5px !important;
width: fit-content;
}
.home-route .view-event.blogs .col-8 .col-11 .blog-detail .icon span{
font-size: 14px;
}
.home-route .view-event.blogs .col-8 .col-11 .blog-detail .icon:last-child{
border-right: 0px !important;
}
.home-route .view-event.blogs .col-8 .col-11 .btn-primary{
padding:10px 20px !important;
width: fit-content;
border-radius: 25px;
}
.home-route .view-event.blogs .col-4 .col-12 .col-11 .col-11{
border-bottom: 1px solid rgb(240, 240, 240);
padding-bottom: 5px !important;
}
.home-route .view-event.blogs .col-4 .col-12 .col-11 .col-11 .col-11{
border-bottom: 0px !important;
}
.home-route .view-event.blogs .col-4 .col-11.card{
border:0px !important;
padding:20px 0px !important;
}
.home-route .view-event.blogs .col-4 .col-11.card .col-4{
width: 100px;
}
.home-route .view-event.blogs .col-4 .col-11.card .col-4 img{
border-radius: 4px;
}
.home-route .view-event.blogs .col-4 .col-11.card.small-blog{
display: flex;
flex-wrap: nowrap !important;
}

/* card styling */
.home-route .card-container {
display: flex;
flex-wrap: wrap;
width: 100% !important;
}
.home-route .card.empty-card{
border:0px !important;
}
.home-route .register{
display: flex;
flex-direction:row;
justify-content: center;
}
.home-route .register .col-7 .card{
padding:10px 10px !important;
}
/* product carousel*/
.home-route .view-event.hero-84.row .col-8.row .col-11 .carousel{
display: flex;
flex-direction: column;
align-items: center;
width: 80%;
margin: auto;
}
.home-route .carousel-container {
position: relative;
width: 100%;
height: auto;
overflow: hidden;
}
.home-route .carousel-image {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 0px !important;
}
.home-route .carousel-controls {
margin-top: 10px !important;
}
.home-route .carousel-controls .btn-primary-box{
border-radius: 0px !important;
}
.home-route .carousel-indicators {
margin-top: 100px !important;
display: flex;
justify-content: center;
gap: 5px;
display: none;
}
.home-route .indicator {
width: 10px;
height: 10px;
background-color:#83a234ff;
border-radius: 50%;
cursor: pointer;
}
.home-route .indicator.active {
background-color: black;
}

.home-route .view-event.hero-84.row .col-8.row .col-11 .product-description img{
border-radius: 0px !important;
}

/* cart styling */

.home-route .cart-count {
position: relative;
text-align: right;
}
.home-route .cart-count .fa-solid{
cursor: pointer;
}
.home-route .cart-dropdown {
position: absolute;
top: 100%;
right: 0;
background: white;
border: 1px solid #ddd !important;
box-shadow: 0 0px 10px rgb(200, 200, 200);
border-radius: 0px !important;
padding: 10px !important;
z-index: 50 !important;
}
.home-route .cart-item {
display: flex;
padding-bottom: 10px !important;
border-bottom: 1px solid rgb(230,230,230);
}

.home-route .cart-image {
width: 50px;
height: 50px;
object-fit: cover;
}
.home-route .cart-count .col-12 .btn-primary.btn-primary-box{
padding:4px 10px !important;
border-radius: 0px !important;
width: 100% !important;
}
.home-route .cart-table thead tr{
background-color: #83a234ff !important;
color:#ffffff;
}
.home-route .cart-table thead tr th{
padding:7px 5px !important;
}
.home-route .cart-table tbody tr{
border-bottom: 1px solid rgb(230, 230, 230);
}
.home-route .cart-table tbody tr td{
padding: 5px 5px !important;
}
.home-route .cart-table tbody tr td .fa-solid.fa-close{
cursor: pointer;
font-size: 16px !important;
padding:7px 10px !important;
}
.home-route .cart-table tbody tr td .quantity-control{
display: flex;
flex-wrap: nowrap;
width: 150px !important;
}
.home-route .quantity-control .quantity-side{
width: 100px !important;
display: flex;
flex-direction: column;
justify-content: center;
}
.home-route .quantity-control .control-side{
display: flex;
flex-wrap: wrap;
width: 50px !important;
}
.home-route .quantity-control .control-side .btn-primary-box{
border-radius: 0px !important;
padding:1px 4px !important;
width: 40px !important;
}
.home-route .cart-table tbody tr td img{
width: 150px;
height: auto;
}
.home-route .cart-summary h3{
font-size: 20px;
}
.cart-summary .btn-primary{
margin-top: 30px !important;
}
.order-details .delivery{
display: flex;
flex-wrap: wrap;
}
.cart-summary .order-details .form-group{
margin-top: 20px;
width:48% !important;
margin-right: 2% !important;
}
.cart-summary .order-details .form-group .form-control{
border:1px solid rgb(230, 230, 230);
padding:7px 5px !important;
border-radius: 0px !important;
}
.cart-summary .order-details .form-group select option {
max-height: 150px !important;
overflow-y: auto; /* Enable scrolling for extra options */
}

/*******************
resize screen
********************/

@media only screen and (max-width: 1295px) {
.home-route .home-events .row.four-vh .col-4{
display: none;
}
.home-route .home-events .row.four-vh .col-8.row{
width: 100% !important;
}
}
@media only screen and (max-width: 1176px){
.home-route .join-us.row.w-100{
flex-wrap: wrap;
}
.home-route .join-us.row.w-100 .col-6{
width:84% !important;
margin-left:8% !important;
}
.home-route .col-6.join-bg{
display: none;
}
.home-route .col-6.join.position-relative{
position:static !important;
}
.home-route .join-us.row.w-100 .col-6 .inner-join.position-absolute.row.w-100{
position: static !important;
}
.home-route .join-us.row.w-100 .col-6 .card{
margin-bottom: 20px !important;
}
}
@media only screen and (max-width: 1130px) {
.home-route .footer.four-vh .hero-84.row .col-6:first-child{
width:70% !important;
}
.home-route .footer.four-vh .hero-84.row .col-6:last-child{
width:30% !important;
}
}
@media only screen and (max-width: 950px) {
.home-route .programs.hero-84 .row{
flex-wrap: wrap;
}
.home-route .programs.hero-84 .row .card{
width:48% !important;
}
.home-route .wrapper.about .main-about.about-2.row.ten-vh .col-7.bg-black.position-relative{
display: none;
}
.home-route .wrapper.about .main-about.about-2.row.ten-vh .col-5{
width: 96% !important;
}
}
@media only screen and (max-width: 850px) {
.home-route .register .col-7{
width: 100%;
margin-left:0px !important;
}
.home-route .home-about.row{
flex-wrap: wrap !important;
}
.home-route .home-about.row .col-6{
width:100% !important;
position:static !important;
}
.home-route .home-about.row .col-6:last-child{
position: static;
height: fit-content !important;
}
.home-route .home-about.row .col-6:last-child{
background-image: none;
background-color: #83a234ff;
height: fit-content;
}
.home-route .home-about.row .col-6 .bg, .home-about.row .col-6 .front{
position: static;
width: 100%;
height:fit-content !important;
padding-bottom: 30px !important;
}
.home-route .home-about.row .col-6 .bg{
display: none !important;
height: fit-content !important;
}
.home-route .home-about.row .col-6:first-child{
background-color: #83a234ff;
height: fit-content;
}
.home-route .home-about.row .col-6:first-child .w-80,
.home-route .home-about.row .col-6:last-child .w-r-80{
margin-left:7% !important;
}
.home-route .footer.four-vh .hero-84.row .col-6:first-child{
width:100% !important;
}
.home-route .footer.four-vh .hero-84.row .col-6:last-child{
width:100% !important;
}
.home-route .col-12.row.core-values .card{
width: 100%;
}
.home-route .main-about.row.ten-vh .col-5,
.home-route .main-about.row.ten-vh .col-7{
width:94%;
height: fit-content !important;
}
.home-route .main-about .col-7.bg-black,
.home-route .main-about.about-2 .col-6.bg-black{
display: none;
}
}
@media only screen and (max-width: 900px) {
.home-route .big-nav{
display: none;
}
.home-route .small-nav{
display: block !important;
}
.home-route .row.home-page{
margin-top: 50px !important;
}
.home-route .wrapper.about .nav-bar-wrapper{
height: 80px;
}
.home-route .wrapper.about .nav-bar-wrapper .cover{
height: 80px !important;
}
}
@media only screen and (max-width: 725px) {
.home-route .programs.hero-84 .row .card{
width:98% !important;
}
.home-route .join-us.row.w-100 .col-6 {
margin-left: 2% !important;
width: 93% !important;
}
.home-route .join-us.row.w-100 .col-6 .card{
width: 100% !important;
}
.home-route .home-events.hero-84 .col-8.row .card{
width:100% !important;
}
.home-route .events-container{
position: static !important;
height: fit-content;
margin-top: 100px !important;
background-image:none;
width: 100% !important;
}
.home-route .events-container > *{
position: static;
}
.home-route .events-container .event-bg{
display: none;
}
.home-route .home-gallery{
margin-top: 10vh !important;
}
.home-route .footer.four-vh .hero-84.row .col-6:first-child .form-group.flexed{
flex-wrap: wrap !important;
width: 100% !important;
}
.home-route .footer.four-vh .hero-84.row .col-6:first-child .form-group.flexed .form-control{
margin-bottom: 20px !important;
}

.home-route .main-about.about-2 .col-6.bg-black{
height: fit-content !important;
}
.home-route .main-about.about-2{
height: fit-content !important;
}
}

@media only screen and (max-width: 370px){
.home-route .main-about.row.ten-vh .col-7{
display: none;
}
}
@media only screen and (max-width: 303px){
.home-route .members{
width:96%;
margin-left:2%;
}
}

/* event page */
@media only screen and (max-width:1000px){
.home-route .events.hero-90 .row.event-panel .col-3{
width: 50% !important;
}
}
@media only screen and (max-width:820px){
.home-route .col-12.search-panel{
flex-wrap: wrap;
}
.home-route .col-12.search-panel .col-3{
width:100% !important;
margin-bottom: 20px !important;
}
.home-route .view-event.hero-84.row{
flex-wrap: wrap;
}
.home-route .view-event.hero-84.row .col-8{
width:100%;
}
.home-route .view-event.hero-84.row .col-4{
width: 100%;
margin-top: 20px !important;
}
.home-route .view-event.hero-84.row .col-4 .inner-card img{
display: none;
}
}
@media only screen and (max-width: 520px){
.home-route .blog-detail{
flex-wrap: wrap;
}
.home-route .blog-detail .icon{
width:100%;
}
}
@media only screen and (max-width: 1190px) {
.home-route .contact.hero-84 .col-6{
margin-left:0px !important;
margin-bottom: 30px !important;
}
.home-route .contact.hero-84 .col-6,
.home-route .contact.hero-84 .col-5{
width:100% !important;
}
}
@media only screen and (max-width: 530px) {
.home-route .map-holder .reach-out.card{
width: 90% !important;
}
.home-route .events.hero-90 .row.event-panel .col-3{
width: 100% !important;
}
}